*{
    box-sizing:border-box;
    margin:0px;
    padding:0px;
    height: 100%;
    width:100%
}
.app{
    width: 100%;
    height:100%;
    background-color: rgb(13, 13, 13);
    display: flex;
    flex-direction: column;
}
.Navbar{
    height:10%;
    background-color: rgb(35, 187, 248);
    /* margin-top: 10px;
    margin-bottom: 10px; */
    margin:5px;
    /* margin-left: 5px; */
}
.Main{
    height:40%;
    background-color: rgb(179, 111, 243);
    margin:5px;
}
.sidebar{
    height:50%;
   
    display: flex;
    flex-direction: row;
    margin:5px;
}
.sidebar1{
    width: 50%;
    background-color: rgb(243, 233, 117);
    margin-right: 5px;
}
.sidebar2{
    width: 49%;
    background-color: rgb(181, 242, 97);
}
.footer{
    height:20%;
    background-color: rgb(252, 120, 204);
    margin:5px;
}

