*{
    box-sizing:border-box;
    margin:0px;
    padding:0px;
    height: 100%;
    width:100%
}
.app{
    width: 100%;
    height:100%;
    background-color: blue;
    display: flex;
    flex-direction: column;
}
.Navbar{
    height:10%;
    background-color: rgb(233, 14, 14);
    /* margin-top: 10px;
    margin-bottom: 10px; */
    margin:5px;
}
.Main{
    height:40%;
    background-color: blueviolet;
    margin:5px;
}
.sidebar{
    height:50%;
   
    display: flex;
    flex-direction: row;
    margin:5px;
}
.sidebar1{
    width: 50%;
    background-color: palegoldenrod;
    margin-right: 5px;
}
.sidebar2{
    width: 49%;
    background-color: rgb(254, 234, 18);
}
.footer{
    height:20%;
    background-color: aquamarine;
    margin:5px;
}

